<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Create New Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter new task</ion-label>
      <ion-input [(ngModel)]="taskTitle" name="taskTitle" type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="saveTask()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

